/***
Style Guide:
#id's are for attributes like width, height position and box model settings https://www.w3schools.com/css/css_boxmodel.asp
.classes are for attributes like font-family etc.
elements should be styled conservatively and grouped whenever possible
***/
body
{
margin: 0px;
/*Font Smoothing https://davidwalsh.name/font-smoothing*/
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


#WebsiteName
{
}

#BannerWithMenus {
    background-color:RoyalBlue;
    width: 100%;
    padding: 1%;
}
.menu_item
{
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;
    padding: 1%;
}

.menu_item:hover {
    background-color: #2251dd;
    cursor: pointer;
}
#bottom {
}

#ContainerForAllContent
{
    padding: 20px;
}



#ThePoemContainer
{
}

h1, h2, h3 {font-family: Times;}

p {
    font-family: Courier;
    font-size: 14px;
}

.dates_and_other_small_text {font-size: 12px;}

#ThePoemsTitle
{
}
