/***
Style Guide:
#id's are for attributes like width, height position and box model settings https://www.w3schools.com/css/css_boxmodel.asp
.classes are for attributes like font-family etc.
elements should be styled conservatively and grouped whenever possible
***/
body
{
margin: 0%;
/*Font Smoothing https://davidwalsh.name/font-smoothing*/
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


#NamePlate
{
    padding-left: 1%;
    background-image: url("../Images/bg-spring.jpg");

}
.nameplate_text
{
    display: inline-block;
    color: white;
}


/*Banner and Menu(s)********************/
/*https://www.w3schools.com/howto/howto_js_dropdown.asp*/
#BannerWithMenus {
    background-color:rgb(65,105,225); /*RoyalBlue*/
    width: 100%;
    padding-left: 0.5%;

}
.menu_item
{
    color: #FFFFFF;
    background-color:inherit;
    border:none;
    font-family: Helvetica;
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin: 0%;
    padding: 0.5%;
}

/*.menu_item:hover, .menu_item:focus {
background-color:#b3c47b;
}*/
.moused_over
{
background-color:rgb(155,171,219);
color: black;
}

.dropdown_main {
    position: relative;
    display: inline-block;
}

.dropdown_guts {
    font-family: Helvetica;
    color: #FFFFFF;
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px; /*exception to px rule see Code Standards, rule 4*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_guts a {
    color: #FFFFFF;
    padding: 8% 8%;
    text-decoration: none;
    display: block;

}

.dropdown_guts a:hover {
    background-color: rgb(155,171,219);
    color: black;
    }

.show {
    display:block;
    background-color:rgb(155,171,219);
    color: black;
}


/*********************/

/* Post Poem and Related Text******************/
#ThePoemContainer
{
padding-left: 1.5%;
padding-top: 1%;
}

h1, h2, h3 {font-family: Times;}

p {
    font-family: Courier;
    font-size: 0.9em;
}

.dates_and_other_small_text {
    font-size: 0.8em;
    font-style: italic;
    display:inline;
}

#date{
}
#ThePoemsTitle
{
    display:inline;
}
/*********************/
