/***
Style Guide:
#id's are for attributes like width, height position and box model settings https://www.w3schools.com/css/css_boxmodel.asp
.classes are for attributes like font-family etc.
elements should be styled conservatively and grouped whenever possible
***/
body
{
    background-image: url("./Images/ever_reaching.png");
/*Font Smoothing https://davidwalsh.name/font-smoothing*/
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


#WebsiteName
{
}
#top {
    background-image: url("./Images/top.png");
    width:960px;
    height:40px;
    background-repeat:no-repeat;

}

#bottom {
    background-image: url("./Images/bottom.png");
    width:960px;
    height:40px;
    background-repeat:no-repeat;

}
#ContainerForAllContent
{
    background-image:url('./Images/middle.png');
    width:920px; /*960-(padding-left+padding-right)*/
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
    padding-bottom:0px;


}

.block2inline {display:inline;} /*for when block elements interrupt the background of divs*/

#ThePoemContainer
{
}

h1, h2, h3 {font-family: Times;}

p {
    font-family: Courier;
    font-size: 14px;
}

.dates_and_other_small_text {font-size: 12px;}

#ThePoemsTitle
{
}
